@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Playfair+Display:wght@600&family=Titillium+Web&display=swap');

* {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
